<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/99fbab6f1d.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'features.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'estiloUser.css'%}">

    <title>Sobre</title>
    </style>

  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top mb-2 navegacao">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">Info Cripto</a>

        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="../../">
                  <i class="fas fa-home mx-1"></i> Home
                </a>
              </li>
              <li class="nav-item me-3 me-lg-0">
                <a class="nav-link text-white" href="../../sobre">
                  <i class="fas fa-info-circle mx-1"></i> Sobre
                </a>
              </li>
            <li class="nav-item dropdown">
                <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >
                <i class="fas fa-user mx-1"></i> Profile
                </a>
                <!-- Dropdown menu -->
                <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdown"
                >
                <li>
                    <a class="dropdown-item" href="../login">Login</a>
                </li>
                <li>
                    <a class="dropdown-item" href="../cadastro">Cadastrar</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">Log out</a>
                </li>
                </ul>
            </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <div class="container my-5">

    </div>
    <div class="nav-scroller py-1 mt-5">
      <nav class="nav d-flex justify-content-between mt-2">
        <a class="p-2 link-primary" href="https://t.co/eL8HNFWxrK" target="_blank">Ethereum</a>
        <a class="p-2 link-primary" href="https://cardanofoundation.org" target="_blank">Cardano</a>
        <a class="p-2 link-primary" href="https://solana.com/" target="_blank">Solana</a>
        <a class="p-2 link-primary" href="https://polkadot.network" target="_blank">Polkador</a>
        <a class="p-2 link-primary" href="https://polygon.technology" target="_blank">Polygon</a>
        <a class="p-2 link-primary" href="https://chain.link" target="_blank">Chainlink</a>
        <a class="p-2 link-primary" href="https://blog.uniswap.org" target="_blank">Uniswap</a>
        <a class="p-2 link-primary" href="https://https://t.co/foKG3v5VuE" target="_blank">White Paper</a>
        <a class="p-2 link-primary" href="https://https://t.co/fQa15XWIQ6" target="_blank">Cosmos Blockchain</a>
        <a class="p-2 link-primary" href="https://support.opensea.io" target="_blank">Opensea</a>
        <a class="p-2 link-primary" href="https://https://t.co/aEalRVdbm4" target="_blank">Arbitrum</a>
      </nav>
    </div>

    <div class="contaner" style="margin-top: 50px">
      <center>
        <h1 class="text-info">Cadraste-se aqui</h1>
      </center>
    </div>

    <div class="container w-25" style="margin-top: 30px">
      <form action="{% url 'cadastro' %}" method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Nome de Usuário</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="usuario"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            name="senha"
          />
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
      </form>
    </div>

    <script>
      function exibirAlerta(mensagem) {
        alert(mensagem);
      }
    </script>

    {% if mensagem_erro %}
    <script>
      exibirAlerta("{{ mensagem_erro }}");
    </script>
    {% endif %}

    <footer class="bg-light text-center text-white fixed-bottom">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
           <!-- Facebook -->
           <a
           class="btn text-white btn-floating m-1"
           style="background-color: #3b5998;"
           href="https://pt-br.facebook.com/ethereum.br/"
           role="button" target="_blank"
           ><i class="fab fa-facebook-f"></i
         ></a>
   
         <!-- Twitter -->
         <a
           class="btn text-white btn-floating m-1"
           style="background-color: #55acee;"
           href="https://mobile.twitter.com/ethereum_brasil"
           role="button" target="_blank"
           ><i class="fab fa-twitter"></i
         ></a>

         <!-- Instagram -->
           <a
           class="btn text-white btn-floating m-1"
           style="background-color: #ac2bac;"
           href="https://www.instagram.com/ethereum.brasil/"
           role="button" target="_blank"
           ><i class="fab fa-instagram"></i
           ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: Info Cripto
      </div>
      <!-- Copyright -->
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
